@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/gillsans-light.eot");
  src: url("../fonts/gillsans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-light.woff2") format("woff2"), url("../fonts/gillsans-light.woff") format("woff"), url("../fonts/gillsans-light.ttf") format("truetype"), url("../fonts/gillsans-light.svg#gillsans_lightregular") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/gillsans-regular.eot");
  src: url("../fonts/gillsans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-regular.woff2") format("woff2"), url("../fonts/gillsans-regular.woff") format("woff"), url("../fonts/gillsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/gillsans-italic.eot");
  src: url("../fonts/gillsans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-italic.woff2") format("woff2"), url("../fonts/gillsans-italic.woff") format("woff"), url("../fonts/gillsans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/gillsans-heavy.eot");
  src: url("../fonts/gillsans-heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-heavy.woff2") format("woff2"), url("../fonts/gillsans-heavy.woff") format("woff"), url("../fonts/gillsans-heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Gill Sans";
  src: url("../fonts/gillsans-heavy-italic.eot");
  src: url("../fonts/gillsans-heavy-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/gillsans-heavy-italic.woff2") format("woff2"), url("../fonts/gillsans-heavy-italic.woff") format("woff"), url("../fonts/gillsans-heavy-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

html, body {
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  color: #1d1d1d;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  clear: both; }

.header {
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 50px auto 40px; }
  .header__logo {
    display: inline-block;
    width: 113px;
    height: 43px;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    margin-right: 140px; }
  .header__nav {
    display: inline-block;
    vertical-align: top; }
  .header__link {
    font-size: 18px;
    font-weight: 600;
    color: #1d1d1d;
    text-decoration: none;
    margin-right: 50px;
    -moz-transition: color 0.45s ease 0s;
    -o-transition: color 0.45s ease 0s;
    -webkit-transition: color 0.45s ease 0s;
    transition: color 0.45s ease 0s; }
    .header__link:hover {
      color: #999999; }
  .header__socials {
    display: inline-block;
    float: right; }
  .header__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-left: 12px;
    text-align: center;
    vertical-align: top;
    border: 2px solid #D5D5D5;
    background-repeat: no-repeat;
    background-position: center;
    color: #1d1d1d;
    text-decoration: none;
    font-size: 28px;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s; }
    .header__social:hover {
      border-color: #999999;
      color: #999999; }
    .header__social--facebook {
      font-size: 24px; }

.home {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .home__map {
    opacity: 0;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -moz-transition: opacity 0.7s ease 0s;
    -o-transition: opacity 0.7s ease 0s;
    -webkit-transition: opacity 0.7s ease 0s;
    transition: opacity 0.7s ease 0s; }
    .home__map--gray {
      background-image: url("../images/map--gray.svg"); }
    .home__map--color {
      background-image: url("../images/map--color.svg"); }
    .home__map--visible {
      opacity: 1; }
  .home__controls {
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in, top 1s ease-out; }
    .home__controls--hidden {
      opacity: 0;
      top: 600px; }
  .home__heading {
    font-size: 140px;
    font-weight: bold;
    font-style: italic;
    margin: 0; }
  .home__subheading {
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    margin: 0; }
  .home__actions {
    width: 470px;
    height: 55px;
    margin: 32px auto 155px; }
  .home__action {
    float: left;
    display: inline-block;
    width: 230px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #1d1d1d;
    cursor: pointer;
    border: 1px solid #1d1d1d;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s; }
    .home__action:hover {
      color: #fff;
      background: #ff4a8f;
      border-color: #ff4a8f; }
    .home__action--pink {
      border: none;
      color: #fff;
      background: #ff307f;
      margin-left: 10px; }
    .home__action--close {
      position: absolute;
      bottom: 0;
      right: 0;
      -moz-transition: opacity 0.3s ease-out 0s;
      -o-transition: opacity 0.3s ease-out 0s;
      -webkit-transition: opacity 0.3s ease-out 0s;
      transition: opacity 0.3s ease-out 0s; }
    .home__action--hidden {
      opacity: 0; }
  .home__down {
    display: block;
    width: 25px;
    height: 31px;
    margin: 0 auto;
    background-image: url("../images/arrow.png"); }

.candidates {
  width: 100%; }
  .candidates__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .candidates__subheading {
    width: 470px;
    margin: 12px auto 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 700; }
  .candidates__block {
    width: 100%;
    height: 420px; }
    .candidates__block--blue {
      background-color: #00afff; }
    .candidates__block--pink {
      background-color: #ff307f; }
  .candidates__content {
    position: relative;
    width: 970px;
    height: 100%;
    margin: 0 auto; }
  .candidates__photo {
    position: absolute;
    bottom: 0; }
    .candidates__photo--first {
      width: 397px;
      height: 440px;
      left: 0;
      background-image: url("../images/candidate-1.png"); }
    .candidates__photo--second {
      width: 363px;
      height: 482px;
      right: 0;
      background-image: url("../images/candidate-2.png"); }
  .candidates__text {
    width: 466px;
    color: #fff; }
    .candidates__text--first {
      padding-top: 130px;
      margin-left: 475px; }
    .candidates__text--second {
      padding-top: 145px;
      margin-left: 50px;
      text-align: right; }
  .candidates__name {
    font-size: 30px;
    font-weight: 700;
    font-style: italic; }
  .candidates__title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px; }
  .candidates__info {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px; }

.news {
  width: 1200px;
  margin: 0 auto;
  padding: 90px 0 120px; }
  .news__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .news__subheading {
    width: 470px;
    margin: 12px auto 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 70px; }
  .news__row {
    width: 100%;
    height: 350px;
    margin-bottom: 16px; }
  .news__column {
    width: 592px;
    float: left; }
    .news__column--left {
      margin-right: 16px; }
  .news__sm-container {
    position: relative;
    width: 288px;
    float: left; }
    .news__sm-container--left {
      margin-right: 16px; }
  .news__lg-container {
    position: relative;
    cursor: pointer; }
    .news__lg-container::before, .news__lg-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 592px;
      height: 350px;
      -moz-transition: opacity 0.45s ease 0s;
      -o-transition: opacity 0.45s ease 0s;
      -webkit-transition: opacity 0.45s ease 0s;
      transition: opacity 0.45s ease 0s; }
    .news__lg-container::before {
      background: linear-gradient(20deg, rgba(0, 0, 0, 0.6), transparent);
      opacity: 1; }
    .news__lg-container::after {
      opacity: 0;
      background: linear-gradient(20deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)); }
    .news__lg-container:hover::before {
      opacity: 0; }
    .news__lg-container:hover::after {
      opacity: 1; }
  .news__sm-image {
    display: inline-block;
    width: 288px;
    height: 204px;
    overflow: hidden;
    margin-bottom: 8px; }
    .news__sm-image > img {
      width: 288px; }
  .news__lg-image {
    display: inline-block;
    width: 592px;
    height: 350px;
    overflow: hidden; }
    .news__lg-image > img {
      width: 592px; }
  .news__sm-title {
    display: inline-block;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
    color: #1d1d1d;
    text-decoration: none;
    margin-bottom: 8px;
    -moz-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
    -webkit-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s; }
    .news__sm-title:hover {
      color: #999999; }
  .news__lg-content {
    position: absolute;
    bottom: 0;
    padding: 22px 20px;
    z-index: 1; }
  .news__lg-title {
    display: block;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -.5px;
    line-height: 38px;
    font-style: italic;
    color: #fff;
    text-decoration: none;
    margin-bottom: 15px; }
  .news__lg-read {
    text-decoration: none;
    text-align: center;
    padding: 7px 15px;
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s; }
    .news__lg-read:hover {
      color: #fff;
      background: #1d1d1d; }
  .news__share {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #999999; }
  .news__share-text {
    display: inline-block;
    vertical-align: top; }
  .news__share-link {
    font-size: 18px;
    color: #999999;
    text-decoration: none;
    margin-left: 4px; }
    .news__share-link--facebook:hover {
      color: #3b5998; }
    .news__share-link--twitter:hover {
      color: #1da1f2; }
  .news__more {
    display: block;
    width: 205px;
    height: 55px;
    line-height: 55px;
    margin: 60px auto 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #1d1d1d;
    color: #1d1d1d;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s; }
    .news__more:hover {
      color: #fff;
      background: #1d1d1d; }

.contact {
  width: 540px;
  margin: 0 auto 120px; }
  .contact__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .contact__subheading {
    width: 470px;
    margin: 12px auto 100px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 80px; }
  .contact__field {
    margin-bottom: 24px; }
  .contact__label {
    display: block;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 8px; }
  .contact__textbox {
    width: 100%;
    height: 55px;
    outline: none;
    padding: 0 20px;
    border: 1px solid #999999;
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    color: #1d1d1d; }
  .contact__textarea {
    width: 100%;
    height: 220px;
    outline: none;
    padding: 24px 20px;
    border: 1px solid #999999;
    resize: none;
    font-size: 18px;
    font-family: "Gill Sans", sans-serif;
    color: #1d1d1d; }
  .contact__submit {
    width: 205px;
    height: 55px;
    outline: none;
    background: #ff307f;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    -moz-transition: all 0.45s ease 0s;
    -o-transition: all 0.45s ease 0s;
    -webkit-transition: all 0.45s ease 0s;
    transition: all 0.45s ease 0s; }
    .contact__submit:hover {
      background: #ff4a8f; }

.footer {
  width: 100%;
  height: 135px;
  background-color: #f2f2f2; }
  .footer__container {
    width: 1200px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    padding-top: 45px; }
  .footer__logo {
    display: inline-block;
    width: 85px;
    height: 32px;
    background-image: url("../images/logo.svg");
    background-size: cover;
    vertical-align: middle; }
  .footer__links {
    float: right; }
  .footer__link {
    display: inline-block;
    color: #1d1d1d;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
    vertical-align: top;
    -moz-transition: color 0.45s ease 0s;
    -o-transition: color 0.45s ease 0s;
    -webkit-transition: color 0.45s ease 0s;
    transition: color 0.45s ease 0s; }
    .footer__link:hover {
      color: #999999; }
  .footer__divider {
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #D5D5D5;
    margin-left: 40px;
    vertical-align: middle; }
