@import "tools";

@font-face {
  font-family: "Gill Sans";
  src: url(../fonts/GillSans.ttc);
}

html, body {
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  @include border-box();
}