@import "settings";
@import "tools";
@import "heading";

.candidates {
  width: 100%;

  &__heading {
    @include heading;
  }

  &__subheading {
    @include subheading;
  }

  &__block {
    width: 100%;
    height: 420px;

    &--blue {
      background-color: $cl-blue;
    }

    &--pink {
      background-color: $cl-pink;
    }
  }

  &__content {
    position: relative;
    width: 970px;
    height: 100%;
    margin: 0 auto;
  }

  &__photo {
    position: absolute;
    bottom: 0;

    &--first {
      width: 397px;
      height: 440px;
      left: 0;

      background-image: url('../images/candidate-1.png');
    }

    &--second {
      width: 363px;
      height: 482px;
      right: 0;

      background-image: url('../images/candidate-2.png');
    }
  }

  &__text {
    width: 466px;

    color: $cl-white;

    &--first {
      padding-top: 70px;
      margin-left: 475px;
    }

    &--second {
      padding-top: 95px;
      margin-left: 50px;

      text-align: right;
    }
  }

  &__name {
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
  }

  &__title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
  }

  &__info {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
  }

  &__programm {
    display: inline-block;
    width: 180px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
    color: $cl-white;
    text-decoration: none;
    text-align: center;
    border: 1px solid $cl-white;
    margin-top: 24px;
    margin-right: 24px;

    @include transition(all, 0.45s, ease);

    &:hover {
      border-color: $cl-black;
      background: $cl-black;
    }
  }

  &__socials {
    display: inline-block;
    font-size: 14px;
  }

  &__social {
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    margin-left: 12px;
    color: $cl-white;
    font-size: 24px;

    @include transition(color, 0.45s, ease);

    &:hover {
      color: $cl-black;
    }
  }

  &__follow {
    position: relative;
    top: -4px;
  }
}