@import "settings";
@import "tools";

.header {
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 50px auto 40px;

  &__logo {
    display: inline-block;
    width: 113px;
    height: 43px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    margin-right: 140px;
  }

  &__nav {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    color: $cl-black;
    text-decoration: none;
    margin-right: 50px;

    @include transition(color, 0.45s, ease);

    &:hover {
      color: $cl-dark-gray;
    }
  }

  &__socials {
    display: inline-block;
    float: right;
  }

  &__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-left: 12px;
    text-align: center;
    vertical-align: top;
    border: 2px solid $cl-gray;
    background-repeat: no-repeat;
    background-position: center;

    color: $cl-black;
    text-decoration: none;
    font-size: 28px;

    @include transition(all, 0.45s, ease);

    &:hover {
      border-color: $cl-dark-gray;
      color: $cl-dark-gray;
    }

    &--facebook {
      font-size: 24px;
    }

    &--instagram {
    }

    &--twitter {
    }
  }
}