@import "settings";

.header {
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 50px auto 40px;

  &__logo {
    display: inline-block;
    width: 113px;
    height: 43px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    margin-right: 140px;
  }

  &__nav {
    display: inline-block;
    vertical-align: top;
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    color: $cl-black;
    text-decoration: none;
    margin-right: 50px;

    &:hover {
      color: $cl-pink;
    }
  }

  &__socials {
    display: inline-block;
    float: right;
  }

  &__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid $cl-gray;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border-color: $cl-pink;
    }

    &--facebook {
      background-image: url('../images/facebook.png');
    }

    &--instagram {
      background-image: url('../images/instagram.png');
    }

    &--twitter {
      background-image: url('../images/twitter.png');
    }
  }
}