@import "tools";
@import "settings";
@import "heading";

.news {
  width: 1200px;
  margin: 0 auto;
  padding: 90px 0 120px;

  &__heading {
    @include heading;
  }

  &__subheading {
    @include subheading;

    margin-bottom: 70px;
  }

  &__row {
    width: 100%;
    height: 350px;
    margin-bottom: 16px;
  }

  &__column {
    width: 592px;
    float: left;

    &--left {
      margin-right: 16px;
    }
  }

  &__sm-container {
    position: relative;
    width: 288px;
    float: left;

    &--left {
      margin-right: 16px;
    }
  }

  &__lg-container {
    position: relative;
    cursor: pointer;

    &::before, &::after {
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 592px;
      height: 350px;

      @include transition(opacity, .45s);
    }

    &::before {
      background: linear-gradient(20deg,rgba(0,0,0,.6),transparent);
      opacity: 1;
    }

    &::after {
      opacity: 0;
      background: linear-gradient(20deg,rgba(0,0,0,.2),rgba(0,0,0,.4));
    }

    &:hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__sm-image {
    display: inline-block;
    width: 288px;
    height: 204px;
    overflow: hidden;

    margin-bottom: 8px;

    > img {
      width: 288px;
    }
  }

  &__lg-image {
    display: inline-block;
    width: 592px;
    height: 350px;
    overflow: hidden;

    > img {
      width: 592px;
    }
  }

  &__sm-title {
    display: inline-block;

    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
    color: $cl-black;
    text-decoration: none;

    margin-bottom: 8px;

    @include transition(color, 0.2s, ease);

    &:hover {
      color: $cl-dark-gray;
    }
  }

  &__lg-content {
    position: absolute;
    bottom: 0;
    padding: 22px 20px;
    z-index: 1;
  }

  &__lg-title {
    display: block;

    font-size: 34px;
    font-weight: 700;
    letter-spacing: -.5px;
    line-height: 38px;
    font-style: italic;
    color: $cl-white;
    text-decoration: none;

    margin-bottom: 15px;
  }

  &__lg-read {
    text-decoration: none;

    text-align: center;
    padding: 7px 15px;
    background: $cl-white;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;

    @include transition(all, .45s, ease);

    &:hover {
      color: $cl-white;
      background: $cl-black;
    }
  }

  &__share {
    height: 24px;
    line-height: 24px;

    font-size: 12px;
    color: $cl-dark-gray;
  }

  &__share-text {
    display: inline-block;
    vertical-align: top;
  }

  &__share-link {
    font-size: 18px;
    color: $cl-dark-gray;
    text-decoration: none;
    margin-left: 4px;

    &--facebook {
      &:hover {
        color: #3b5998;
      }
    }

    &--twitter {
      &:hover {
        color: #1da1f2;
      }
    }
  }

  &__more {
    display: block;
    width: 205px;
    height: 55px;
    line-height: 55px;
    margin: 60px auto 0;

    cursor: pointer;

    text-align: center;
    border: 1px solid $cl-black;
    color: $cl-black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;

    @include transition(all, .45s);

    &:hover {
      color: $cl-white;
      background: $cl-black;
    }
  }
}