<div class="articles__list">
	<h1>Articles</h1>
	<div class="article__filters">
		<h3>Filters: </h3>
		<ul>
			<li>Toute l’eactualite</li>
			<li>Articles</li>
			<li>Vidéos</li>
			<li>Discours</li>
		</ul>
	</div>
	{% for post in paginator.posts %}
	<div class="article__item">
		<div class="article-item-thumb">
			<img src="/images/{{ post.image_file }}" />
		</div>
		<div class="article-item-text">
			<h1>{{ post.title }}</h1>
			<h3>
				PARTAGEZ: 
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-twitter"></span></a>
			</h3>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Pagination links -->
<div class="article__pagination">
 {% if paginator.previous_page %}
 	<a href="{{ paginator.previous_page_path }}" class='paginate-button'>Previous</a>
 {% else %}
 	<span class='paginate-button'>Previous</span>
 {% endif %}
 <span class="page-number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
 {% if paginator.next_page %}
 	<a href="{{ paginator.next_page_path }}" class='paginate-button'>Next</a>
 {% else %}
 	<span class='paginate-button'>Next</span>
 {% endif %}
</div>