<section id="article" class="article">
    <h1 class="article__heading">{{ page.title }}</h1>

    <h2 class="article__summary">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date: "%-d %B %Y" | replace:"January","Janvier" | replace:"February","Fevrier" | replace:"March","Mars" | replace:"April","Avril" | replace:"May","Mai" | replace:"June","Juin" | replace:"July","Juillet" | replace:"August","Août"| replace:"September","Septembre" | replace:"October","Octobre" | replace:"November","Novembre" | replace:"December","Decembre" }}
            {% if page.extra_info %}
                <span> - {{ page.extra_info }}</span>
            {% endif %}
        </time>
        {% if page.summary %}
         - {{ page.summary }}
        {% endif %}
    </h2>
    <ul class="article__social">
        <li role="button" aria-label="Partagez sur Facebook" class="btn btn--social btn--facebook" onclick="shareFacebook('https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&amp;src=sdkpreparse')">
            <i class="fa fa-facebook-square"></i> <span class="hidden-small">Partagez</span>
        </li>
        <li role="button" aria-label="Partagez via Twitter" onclick="shareTwitter('{{ site.url }}{{ page.url }}', '{{ page.title }}')" class="btn btn--social btn--twitter">
            <i class="fa fa-twitter"></i> <span class="hidden-small">Tweetez</span>
        </li>
        <li role="button" aria-label="Partagez via email" onclick="shareEmail('{{ site.url }}{{ page.url }}', '{{ page.title }}')" class="btn btn--social btn--email">
            <i class="fa fa-envelope-o"></i> <span class="hidden-small">Envoyez</span>
        </li>
    </ul>

    <div class="article__body">

        {{ content }}
        
    </div>
</section>