<div class="articles__list">
	<h1>Toute l'actualité</h1>
	<div class="article__filters">
		{% assign ar_klass = "" %}
		{% if page.permalink == "/articles/index.html" %}
			{% assign ar_klass="active" %}
		{% endif %}
		<h3>FILTRES :</h3>
		<ul>
			<li><a class="{{ ar_klass }}" href="/articles">Tous</a></li>

			{% for category in site.categories %}
				{% assign category_name = category | first %}
				{% assign category_permalink = category_name | slugify | prepend: '/' | append: '/' %}
				<li>
					<a class="{% if page.category == category_name %}active{% endif %}" href="/{{ category_name | slugify }}">{{ category_name | capitalize  }} </a>
				</li>
			{% endfor %}

		</ul>
	</div>
	{% if page.category == "Tous" %}
	{% assign posts = site.posts %}
	{% else %}
	{% assign posts = site.categories[page.category] %}
	{% endif %}
	{% for post in posts %}
	<div class="article__item">
		<div class="article-item-thumb">
			<img src="{{ post.image_file }}" />
		</div>
		<div class="article-item-text">
			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
           	<h2>{{ post.date | date: "%-d %B %Y" | replace:"January","Janvier" | replace:"February","Février" | replace:"March","Mars" | replace:"April","Avril" | replace:"May","Mai" | replace:"June","Juin" | replace:"July","Juillet" | replace:"August","Août"| replace:"September","Septembre" | replace:"October","Octobre" | replace:"November","Novembre" | replace:"December","Décembre" }}</h2>
			<h3>
				PARTAGEZ
				<a data-site="{{ site.url }}" data-url="{{ post.url }}" class='click-facebook' href="#"><span class="fa fa-facebook-square facebook"></span></a>
				<a data-title="{{ post.title }}" data-site="{{ site.url }}" data-url="{{ post.url }}" class='click-twitter' href="#"><span class="fa fa-twitter twitter"></span></a>
			</h3>
		</div>
	</div>
	{% endfor %}
</div>
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
{% assign raw = page.permalink %}
{% capture link %}{{ raw | replace: "/"," " | split: " " | first }}{% endcapture %}
<div class="article__pagination">
	<div class='pagination-wrap'>
		 {% if paginator.previous_page %}
		 	<a href="{{ paginator.previous_page_path }}" class='paginate-button'>
		 		<i class='fa fa-chevron-left'></i>
		 	</a>
		 {% endif %}

		 {% for page in (1..paginator.total_pages) %}
		 	{% assign klass = '' %}
		 	{% if paginator.page == page %}
		 		{% assign klass = 'active' %}
		 	{% endif %}
		 	{% if page == 1 %}
		 		<a href="{{site.url}}/{{link}}" class='paginate-button {{ klass }}'>{{ page }}</a>
		 	{% else %}
		 		<a href="{{site.url}}/{{link}}/page/{{ page }}/" class='paginate-button {{ klass }}'>{{ page }}</a>
		 	{% endif %}
		 {% endfor %}
		 {% if paginator.next_page %}
		 	<a href="{{ paginator.next_page_path }}" class='paginate-button'>
		 		<i class='fa fa-chevron-right'></i>
		 	</a>
		 {% endif %}
	</div>
</div>
{% endif %}
