<section class="candidates" id="candidates">
    <div class="candidates__heading">Nos Candidats</div>
    <div class="candidates__subheading">Je découvre les candidat(e)s La République En Marche !</div>

    <div class="candidates__block candidates__block--blue">
        <div class="candidates__content">
            <div class="candidates__photo candidates__photo--first"></div>

            <div class="candidates__text candidates__text--first">
                <div class="candidates__name">Max Orville</div>
                <div class="candidates__title">Dina Dieuzede Cophir, circonscription de Fort-De-France</div>
                <div class="candidates__info">Né en Cote d’Ivoire  est le neveu de Gaston MONNERVILLE ancien Président du Sénat et de Xavier ORVILLE écrivain fort connu aux Antilles et ancien Conseiller du Président SENGHOR du Sénégal.</div>
                <a class="candidates__programm" href="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/18765688_807135312777830_204165996837994219_n.jpg?oh=cd5e428e1db8971d4b25e58484390611&oe=59AE2461" target="_blank">Profession de foi</a>
                <div class="candidates__socials">
                    <a class="candidates__social" href="https://www.facebook.com/maxorvillefdf/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="candidates__block candidates__block--pink">
        <div class="candidates__content">
            <div class="candidates__photo candidates__photo--second"></div>

            <div class="candidates__text candidates__text--second">
                <div class="candidates__name">Chantal Maignan</div>
                <div class="candidates__title">Bertrand Pierre-Louis, circonscription du Centre</div>
                <div class="candidates__info">Poète. Maître de conférences à l'université des Antilles et de la Guyane, elle y enseigne les littératures francophones des Caraïbes.</div>
                <a class="candidates__programm" href="https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/18671072_1553795467973479_8524712913062986825_n.png?oh=739ed90ef9d1ff231bcb3f6b6cfad5c0&oe=59A64EF4" target="_blank">Profession de foi</a>
                <div class="candidates__socials">
                    <a class="candidates__social" href="https://www.facebook.com/chantal.maignan.7" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a class="candidates__social" href="https://www.instagram.com/chantalmaignan_em/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>