<section class="contact" id="contactus">
    <div class="contact__heading">Écrivez-nous</div>

    <div class="contact__subheading">Pour toutes questions écrivez-nous. Nous vous répondrons le plus rapidement.</div>

    <form action="https://formspree.io/e.marcher972@gmail.com"
            method="POST">
                        <div class="contact__field">
            <label class="contact__label" for="email">Votre adresse e-mail</label>
            <input class="contact__textbox" id="email" name="email" type="text" placeholder="jondoe@gmail.com">
        </div>

        <div class="contact__field">
            <label class="contact__label" for="message">Votre message</label>
            <textarea class="contact__textarea" id="message" name="message"
                        placeholder="Votre message ici"></textarea>
        </div>

        <input class="contact__submit" type="submit" value="Envoyer">
    </form>
</section>