<footer class="footer hidden-small">
    <div class="footer__container">
        <div class="footer__logo"></div>
        <div class="footer__studio"></div>
        <div class="footer__links">
            <a class="footer__link" href="mailto:contact@en-marche-martinique.fr">contact@en-marche-martinique.fr</a>
            <div class="footer__divider"></div>
            <a class="footer__link">
                © 2017 En Marche Martinique
            </a>
        </div>
    </div>
</footer>

<script src="/js/script.js" async defer></script>
<script src="/js/smooth-scroll.min.js" async defer></script>
