<a class="header__origin hidden-small" href="https://en-marche.fr/" target="_blank">
    <span class="header__origin-arrow">«</span>
    <span class="header__origin-title">En-Marche.fr</span>
</a>

<header class="header hidden-small">
    <a href="/" title="Home Page" id="logo" class="header__logo">
      <img src="/images/logo.svg" alt="En Marche Martinique" />
    </a>
      <nav class="header__nav">
        <a class="header__link" href="https://en-marche.fr/le-mouvement">Le Mouvement</a>
      {% for page in site.pages %}
        {% unless page.exclude or page.url contains '.xml' %}
            <a class="header__link" href="{{ page.url }}">{{ page.title }}</a>
        {% endunless %}
      {% endfor %}
        <a class="header__link" href="#contactus" data-scroll>Nous contacter</a>
      </nav>

    <div class="header__socials">
        <a class="header__social header__social--facebook" href="https://facebook.com/enmarche972" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="header__social header__social--instagram" href="https://instagram.com/enmarche972" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="header__social header__social--twitter" href="https://twitter.com/enmarche972" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>

    </div>
</header>

<header class="hidden-big">

    <div id="header__socials--mobile" class="header__socials--mobile">
        <a class="header__social header__social--facebook" href="https://facebook.com/enmarche972" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="header__social header__social--instagram" href="https://instagram.com/enmarche972" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="header__social header__social--twitter" href="https://twitter.com/enmarche972" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>

    </div>

    <div class="mobile-wrapper">

        <i id="burger" class="fa fa-bars burger-icon" aria-hidden="true"></i>

        <a href="/" title="Home Page" id="logo" class="header__logo">
            <img src="/images/logo.svg" alt="En Marche Martinique" />
        </a>

        <i id="handle-social" class="fa fa-share open-social" aria-hidden="true"></i>
    </div>

    <div class="navbar"></div>
    <div class="circle"></div>
    <div id="mobile-menu" class="mobile-menu">
        <div id="close-mobile-menu" class="close-mobile-menu">
            <span class="close"></span>
        </div>
        <div class="mobile-menu__title">
            EM!
        </div>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/articles">Actualités</a></li>
            <li><a href="qui-sommes-nous">Qui sommes nous?</a></li>
            <li><a href="#contactus">Contactez nous</a></li>
        </ul>
    </div>

</header>
