<a class="header__origin" href="https://en-marche.fr/" target="_blank">
    <span class="header__origin-arrow">«</span>
    <span class="header__origin-title">En-Marche.fr</span>
</a>

<header class="header">

    <div class="header__logo"></div>

    <nav class="header__nav">
        <a class="header__link" href="/" data-scroll>Home</a>
        <a class="header__link" href="#candidates" data-scroll>Nos Candidats</a>
        <a class="header__link" href="#news" data-scroll>Actualités</a>
        <a class="header__link" href="#contactus" data-scroll>Écrivez-nous</a>
    </nav>

    <div class="header__socials">
        <a class="header__social header__social--facebook" href="https://facebook.com/enmarche972" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="header__social header__social--instagram" href="https://instagram.com/enmarche972" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="header__social header__social--twitter" href="https://twitter.com/enmarche972" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
</header>
