<a class="header__origin" href="https://en-marche.fr/" target="_blank">
    <span class="header__origin-arrow">«</span>
    <span class="header__origin-title">En-Marche.fr</span>
</a>

<header class="header">
    <a href="/" title="Home Page" id="logo" class="header__logo">
      <img src="/images/logo.svg" alt="En Marche Martinique" />
    </a>

    <nav class="header__nav">
        <a class="header__link" href="/articles">Notre Actualités</a>
        <a class="header__link" href="#contactus" data-scroll>Écrivez-nous</a>
    </nav>

    <div class="header__socials">
        <a class="header__social header__social--facebook" href="https://facebook.com/enmarche972" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="header__social header__social--instagram" href="https://instagram.com/enmarche972" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="header__social header__social--twitter" href="https://twitter.com/enmarche972" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
</header>
