<section class="home" id="home">
  <div class="home__controls">
        <h1 class="home__heading">En Marche !</h1>
        <h2 class="home__subheading">Élection législatives * <b>10 et 17 juin 2017</b></h2>

        <div class="home__actions">
            <a class="home__action" id="showMapButton">MONTREZ MOI LA CARTE</a>
            <a class="home__action home__action--pink" href="#contactus" data-scroll>CONTACTEZ NOUS</a>
        </div>

        <a class="home__down" href="#candidates" data-scroll></a>
    </div>

    <a class="home__action home__action--close home__action--hidden" id="hideMapButton">Fermer la carte</a>
</section>