<section class="home" id="home">
  <div class="home__map home__map--gray home__map--visible"></div>
    <div class="home__map home__map--color">
      <div class="home__caption home__caption--green home__caption--right">
        <div>
          <b>En Marche</b> Martinique<br>
            Nord Caraibes
          </div>
          <div class="home__caption-circle"></div>
        </div>
        <div class="home__caption home__caption--purple home__caption--left">
            <div>
                <b>En Marche</b> Martinique<br>
                Nord Atlantique
            </div>
            <div class="home__caption-circle"></div>
        </div>
        <div class="home__caption home__caption--yellow home__caption--left">
            <div>
                <b>En Marche</b> Martinique<br>
                Centre Atlantique
            </div>
            <div class="home__caption-circle"></div>
        </div>
        <div class="home__caption home__caption--crimson home__caption--right">
            <div>
                <b>En Marche</b> Martinique<br>
                Centre
            </div>
            <div class="home__caption-circle"></div>
        </div>
        <div class="home__caption home__caption--pink home__caption--left">
            <div>
                <b>En Marche</b> Martinique<br>
                Sud Caraibes
            </div>
            <div class="home__caption-circle"></div>
        </div>
        <div class="home__caption home__caption--blue home__caption--right">
            <div>
                <b>En Marche</b> Martinique<br>
                Sud Atlantique
            </div>
            <div class="home__caption-circle"></div>
        </div>
            {% include map.html %}
  </div>
  <div class="home__controls">
        <h1 class="home__heading">En Marche !</h1>
        <h2 class="home__subheading">Neque porro quisquam est qui dolorem ipsum quia dolor.</h2>

        <div class="home__actions">
            <a class="home__action" id="showMapButton">J'adhere</a>
            <a class="home__action home__action--pink" href="#contactus" data-scroll>JE DONNE</a>
        </div>
    </div>
    
     <a class="home__action home__action--close home__action--hidden" id="hideMapButton">Fermer la carte</a>
</section>