<section class="home" id="home">
  <div class="home__controls">
        <h1 class="home__heading">En Marche !</h1>
        <h2 class="home__subheading">Neque porro quisquam est qui dolorem ipsum quia dolor.</h2>

        <div class="home__actions">
            <a class="home__action" id="showMapButton">J'adhere</a>
            <a class="home__action home__action--pink" href="#contactus" data-scroll>JE DONNE</a>
        </div>

        <a class="home__down" href="#candidates" data-scroll></a>
    </div>

    <a class="home__action home__action--close home__action--hidden" id="hideMapButton">Fermer la carte</a>
</section>