<section class="news" id="news">

    <div class="news__subheading">Les dernières actualités d'En Marche Martinique !</div>
    <!--
        Collection 0 -> normal posts
        Collection 1 -> highlited posts
     -->
    {% assign collection = site.posts | group_by: "post_type" | sort: "date" %}
    {% assign rows = 2 %}
    {% assign per_row = 3 %}
    {% assign last_normal = 0 %}
    {% assign last_highlited = 0%}

    {% for idx in (1..rows) %}
        {% assign modulo = idx | modulo: 2 %}
        {% if modulo == 1 %}
            <div class="news-row">
        {% else %}
            <div class="news-row reverse">
        {% endif %}
            {% for i in (1..per_row) %}
                {% if i <= 2 %}
                    {% assign post = collection[0].items[last_normal] %}
                    {% assign last_normal = last_normal | plus: 1 %}
                {% else %}
                    {% assign post = collection[1].items[last_highlited] %}
                    {% assign last_highlited = last_highlited | plus: 1 %}
                {% endif %}
                {% include thumbnail.html %}
            {% endfor %}
        </div>
    {% endfor %}

    <div class="news__more">
        <a href="" class="news__more-link">
            More News
        </a>
    </div>

</section>
