<section class="news" id="news">

    <div class="news__subheading">Les dernières actualités de La République En Marche !</div>
    <!--
        Collection 0 -> normal posts
        Collection 1 -> highlited posts
     -->
    {% assign collection = site.posts | sort: "date" | group_by: "post_type" %}
    {% assign rows = 2 %}
    {% assign per_row = 3 %}
    {% assign last_normal = 0 %}
    {% assign last_highlited = 0%}
    
    {% for idx in (1..rows) %} 
        <div class="news__row">
            {% for i in (1..per_row) %}
                {% if i <= 2 %}
                    {% assign post = collection[0].items[last_normal] %}
                    {% assign last_normal = last_normal | plus: 1 %}
                {% else %}
                    {% assign post = collection[1].items[last_highlited] %}
                    {% assign last_highlited = last_highlited | plus: 1 %}
                {% endif %}
                {% include thumbnail.html %}
            {% endfor %}
        </div>
    {% endfor %}
</section>