<div class="news__thumbnail">

    {% if post.post_type == "normal" %}

        <div class="news__sm-container {% if modulo == "1" %} news__item--left {% endif %} {% if modulo == "0" %} news__item--right {% endif %}">
            <a class="news__sm-image" href="{{ post.url }}">
                <img src="images/{{ post.image_file }}">
            </a>

            <a class="news__sm-title" href="{{ post.url }}">
                {{ post.title }}
            </a>

            <div class="news__share">
                <span class="news__share-text">PARTAGEZ</span>
                <a class="news__share-link news__share-link--facebook" href="#news">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a class="news__share-link news__share-link--twitter" href="#news">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
        </div>


    {% endif %}

    {% if post.post_type == "highlighted" %}

        <div class="news__lg-container {% if modulo == "1" %} news__item--left {% endif %} {% if modulo == "0" %} news__item--right {% endif %}">
            <a class="news__lg-image" href="{{ post.url }}">
                <img src="images/{{ post.image_file }}">
            </a>

            <div class="news__lg-content">
                <a href="{{ post.url }}" class="news__lg-title">
                   {{ post.title }}
                </a>

                <a href="{{ post.url }}" class="news__lg-read">EN SAVOIR PLUS</a>
            </div>
        </div>

    {% endif %}
    
</div>