@import "tools";
@import "settings";

.footer {
  width: 100%;
  height: 135px;
  background-color: #f2f2f2;

  &__container {
    width: 1200px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    padding-top: 45px;
  }

  &__logo {
    display: inline-block;
    width: 85px;
    height: 32px;
    
    background-image: url('../images/logo.svg');
    background-size: cover;
    vertical-align: middle;
  }
  &__studio {
    display: inline-block;
    width: 85px; 
    height: 70px; 
    margin-left: 200px;
    
    background-image: url('../images/lobo-studio.png');
    background-size: cover;
    vertical-align: middle;
  }
  &__links {
    float: right;
  }

  &__link {
    display: inline-block;
    color: $cl-black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40px;
    vertical-align: top;

    @include transition(color, 0.45s, ease);

    &:hover {
      color: $cl-dark-gray;
    }
  }

  &__divider {
    display: inline-block;
    width: 1px;
    height: 30px;
    background: $cl-gray;
    margin-left: 40px;
    vertical-align: middle;
  }
}