@import "settings";
@import "tools";

.header {
  position: relative;
  width: 1200px;
  height: 45px;
  line-height: 45px;
  margin: 50px auto 40px;


  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 113px;
    height: 43px;
  }

  &__nav {
    display: block;
    text-align: center;
    vertical-align: top;
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    color: $cl-black;
    text-decoration: none;
    margin-right: 50px;

    @include transition(color, 0.45s, ease);

    &:hover {
      color: $cl-dark-gray;
    }
  }

  &__socials {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }

  &__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-left: 12px;
    text-align: center;
    vertical-align: top;
    border: 2px solid $cl-gray;
    background-repeat: no-repeat;
    background-position: center;

    color: $cl-black;
    text-decoration: none;
    font-size: 28px;

    @include transition(all, 0.45s, ease);

    &:hover {
      border-color: $cl-dark-gray;
      color: $cl-dark-gray;
    }

    &--facebook {
      font-size: 24px;
    }

    &--instagram {
    }

    &--twitter {
    }
  }

  &__origin {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    color: $cl-white;
    text-decoration: none;

    @include transition(color, 0.45s, ease);

    &:hover {
      color: $cl-dark-gray;
    }
  }

  &__origin-arrow {
    display: inline-block;
    width: 35px;
    background: $cl-black;
    float: left;
  }

  &__origin-title {
    display: inline-block;
    background: $cl-pink;
    padding: 0 8px;
  }
}
