@import "tools";
@import "settings";
@import "heading";

.news-row {
  display: flex;
  margin: 30px auto;
  &.reverse {
    flex-direction: row-reverse;
  }
  
  @media screen and(max-width: 1000px) {
    flex-direction: column;    
  }
}

.news {
  width: 1200px;
  margin: 0 auto;
  
  @media screen and(max-width: 1000px) {
    width: 100%;    
  }
  
  &__heading {
    @include heading;
  }

  &__subheading {
    @include subheading;

    margin-bottom: 70px;

    @media screen and(max-width: 1000px) {
      font-size: 26px;    
    }

  }

  &__row {
    width: 100%;
    height: 350px;
    margin-bottom: 16px;
  }

  &__column {
    width: 592px;
    float: left;

    &--left {
      margin-right: 16px;
    }
  }

  &__sm-container {
    position: relative;
    width: 288px;
    float: left;

    &--left {
      margin-right: 16px;
    }
  }

  &__lg-container {
    position: relative;
    cursor: pointer;
    
      &::before, &::after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 592px;
        height: 350px;
        @media screen and(max-width: 1000px) {
          width: 100%;
          height: 100%;
        }
        @include transition(opacity, .45s);
      }
    &::before {
      background: linear-gradient(20deg,rgba(0,0,0,.6),transparent);
      opacity: 1;
    }

    &::after {
      opacity: 0;
      background: linear-gradient(20deg,rgba(0,0,0,.2),rgba(0,0,0,.4));
    }

    &:hover {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  &__sm-image {
    display: inline-block;
    width: 288px;
    height: 204px;
    overflow: hidden;

    margin-bottom: 8px;

    > img {
      width: 288px;
    }
  }

  &__lg-image {
    display: inline-block;
    width: 592px;
    height: 350px;
    overflow: hidden;

    > img {
      width: 100%;
    }
  }

  &__sm-title {
    display: inline-block;

    font-size: 24px;
    line-height: 1.2em;
    font-weight: 400;
    color: $cl-black;
    text-decoration: none;

    margin-bottom: 8px;

    @include transition(color, 0.2s, ease);

    &:hover {
      color: $cl-dark-gray;
    }
  }

  &__lg-content {
    position: absolute;
    bottom: 0;
    padding: 22px 20px;
    z-index: 1;
  }

  &__lg-title {
    display: block;

    font-size: 34px;
    font-weight: 700;
    letter-spacing: -.5px;
    line-height: 38px;
    font-style: italic;
    color: $cl-white;
    text-decoration: none;

    margin-bottom: 15px;
  }

  &__lg-read {
    text-decoration: none;

    text-align: center;
    padding: 7px 15px;
    background: $cl-white;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;

    @include transition(all, .45s, ease);

    &:hover {
      color: $cl-white;
      background: $cl-black;
    }
  }

  &__share {
    height: 24px;
    line-height: 24px;

    font-size: 12px;
    color: $cl-dark-gray;
  }

  &__share-text {
    display: inline-block;
    vertical-align: top;
  }

  &__share-link {
    font-size: 18px;
    color: $cl-dark-gray;
    text-decoration: none;
    margin-left: 4px;

    &--facebook {
      &:hover {
        color: #3b5998;
      }
    }

    &--twitter {
      &:hover {
        color: #1da1f2;
      }
    }
  }

  &__more {
    display: block;
    width: 205px;
    line-height: 55px;
    margin: 60px auto;
    font-size: 18px;

    cursor: pointer;

    text-align: center;
    text-decoration: none;
    border: 1px solid $cl-black;
    color: $cl-black;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    @include transition(all, .45s);

    &:hover {
      color: $cl-white;
      background: $cl-black;
      .news__more-link {
        color: #fff;
      }
    }
  }

  &__more-link {
    text-decoration: none;
    color: $cl-black;
    font-weight: bold;
    font-size: 18px;
  }

  &__sm-container {
    margin-right: 16px;
  }

  &__lg-container {
    margin-right: 16px;
    overflow: hidden;
  }

  &__item--left {
    margin-right: 16px;  
  }

  &__item--right {
    margin-right: 0;  
  }

}

@media screen and(max-width: 1000px) {

  .news-row.reverse {
    flex-direction: column-reverse;
  }

  .news__sm-container,
  .news__lg-container{
    display: block;
    width: 100%;
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .news__lg-image,
  .news__sm-image {
    display: block;
    width: 100% !important;
    height: auto;
  }

  .news__sm-title {
    display: block;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .news__share {
    display: block;
    padding: 8px 16px;
    margin-bottom: 26px;
    font-size: 16px;
  }

}