<!DOCTYPE html>
<!--

 /$$$$$$$$                 /$$      /$$                               /$$                       /$$
| $$_____/                | $$$    /$$$                              | $$                      | $$
| $$       /$$$$$$$       | $$$$  /$$$$  /$$$$$$   /$$$$$$   /$$$$$$$| $$$$$$$   /$$$$$$       | $$
| $$$$$   | $$__  $$      | $$ $$/$$ $$ |____  $$ /$$__  $$ /$$_____/| $$__  $$ /$$__  $$      | $$
| $$__/   | $$  \ $$      | $$  $$$| $$  /$$$$$$$| $$  \__/| $$      | $$  \ $$| $$$$$$$$      |__/
| $$      | $$  | $$      | $$\  $ | $$ /$$__  $$| $$      | $$      | $$  | $$| $$_____/
| $$$$$$$$| $$  | $$      | $$ \/  | $$|  $$$$$$$| $$      |  $$$$$$$| $$  | $$|  $$$$$$$       /$$
|________/|__/  |__/      |__/     |__/ \_______/|__/       \_______/|__/  |__/ \_______/      |__/



 /$$      /$$                       /$$     /$$           /$$
| $$$    /$$$                      | $$    |__/          |__/
| $$$$  /$$$$  /$$$$$$   /$$$$$$  /$$$$$$   /$$ /$$$$$$$  /$$  /$$$$$$  /$$   /$$  /$$$$$$
| $$ $$/$$ $$ |____  $$ /$$__  $$|_  $$_/  | $$| $$__  $$| $$ /$$__  $$| $$  | $$ /$$__  $$
| $$  $$$| $$  /$$$$$$$| $$  \__/  | $$    | $$| $$  \ $$| $$| $$  \ $$| $$  | $$| $$$$$$$$
| $$\  $ | $$ /$$__  $$| $$        | $$ /$$| $$| $$  | $$| $$| $$  | $$| $$  | $$| $$_____/
| $$ \/  | $$|  $$$$$$$| $$        |  $$$$/| $$| $$  | $$| $$|  $$$$$$$|  $$$$$$/|  $$$$$$$
|__/     |__/ \_______/|__/         \___/  |__/|__/  |__/|__/ \____  $$ \______/  \_______/
                                                                   | $$
                                                                   | $$
                                                                   |__/
-->
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head.html %}
<style media="screen">
  .center-div
  {
    margin: 0 auto;
    width: 600px;
  }
</style>
  <body>

    {% include facebook.html %}

    {% include header.html %}

    <div class="center-div">
        {{ content }}
    </div>

    {% include contact.html %}

    <div class="hidden-small">
      {% include footer.html %}
    </div>
  </body>

</html>
